@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Source+Sans+Pro:wght@400;600;700&display=swap');
.App {
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 1rem;
}

.title-banner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.game-title {
  font-family: 'Creepster';
  font-size: 100px;
  margin: 0 auto;
  color: red;
  text-shadow: 1px 1px 5px black;
  user-select: none;
}

.game-frame {
  height: 400px;
  width: 600px;
  border-radius: 10px;
  margin-bottom: 600px;
  // background-color: #555;
  -webkit-box-shadow: 0 2px 10px 1px rgba(255, 0, 0, 0.5);
  background-image: url('../public/assets/images/console_background.png');
  background-size: cover;
  border-style: solid;
  border-width: 1px;
  // box-shadow: 5px 5px 5px black;
}

.text {
  user-select: none;
}
.consoleCursor {
  padding-top: 2px;
}
.consoleInput {
  color: #40ff00;
  background: rgba(255, 0, 0, 0);
  height: 20px;
  width: fit-content;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.chat-prompt {
  display: flex;
  padding: 2px;
}

.input-text.cursor {
  position: relative;
}

.input-text.cursor i {
  position: absolute;
  width: 1px;
  height: 20%;
}

.input-text.cursor {
  position: relative;
}

.consoleOutputEof {
  height: 1px;
  opacity: 0;
  overflow: hidden;
  width: 1px;
}

input:focus {
  // background-color: none;
  outline: none;
}

// .chatbox {
//   display: flex;
//   flex-direction: column;
//   justify-content: left;
//   padding:10px;
//   padding-left: 20px;
// }

// .controls {
//   display: flex;
//   justify-content: space-between;
//   margin-left: 40px;
//   margin-right: 40px;
//   margin-top: 500px;
// }

.consoleOutput {
  font-family: 'Courier New', Courier, monospace;
  padding: 2px;
  color: #40ff00;
  margin: 0;
}
