@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Source+Sans+Pro:wght@400;600;700&display=swap');

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 1rem;
}

.title-banner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.game-title {
  font-family: 'Creepster';
  font-size: 100px;
  margin: 0 auto;
  color: red;
  text-shadow: 1px 1px 5px black;
  user-select: none;
}

.game-frame {
  height: 400px;
  width: 600px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #555;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 5px 5px black;
}

.text {
  user-select: none;
}

.input-text {
  color: #40ff00;
  background-color: #555;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.input-text:focus {
  // background-color: none;
  outline: none;
}

.chatbox {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 500px;
}

.textfield {
  height: 40px;
  width:  300px;
}

.gametext {
  font-family: 'Courier New', Courier, monospace;
  padding-left: 20px;
  color: #40ff00
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}