@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Source+Sans+Pro:wght@400;600;700&display=swap');
.App {
  display: grid;
  place-items: center;
}

.title-banner {
  background-color: #2f3241;
  height: 60px;
  width: 100%;
  -webkit-app-region: drag;
}

.game-title {
  font-family: 'Creepster';
  font-size: 30px;
  padding: 13px;
  margin-top: 0;

  color: red;
  text-shadow: 1px 1px 5px black;
}

.game-frame {
  height: 900px;
  width: 1600px;
  border-radius: 7px;
  box-shadow:
    0 0 60px 5px #fff,  /* inner white */
    0 0 100px 10px #f0f, /* middle magenta */
    0 0 140px 20px rgb(255, 0, 0); /* outer cyan */
  background-image: url('../public/assets/images/console_background.png');
  background-size: cover;
  border-style: solid;
  border-width: 1px;
  // box-shadow: 5px 5px 5px black;
}



.game-wrapper {
  padding-top: 150px;
}

.text {
  user-select: none;
}
.consoleCursor {
  padding-top: 2px;
}
.consoleInput {
  color: #40ff00;
  background: rgba(255, 0, 0, 0);
  height: 20px;
  width: fit-content;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.chat-prompt {
  display: flex;
  padding: 2px;
}

.input-text.cursor {
  position: relative;
}

.input-text.cursor i {
  position: absolute;
  width: 1px;
  height: 20%;
}

.input-text.cursor {
  position: relative;
}

.consoleOutputEof {
  height: 1px;
  opacity: 0;
  overflow: hidden;
  width: 1px;
}

input:focus {
  // background-color: none;
  outline: none;
}

// .chatbox {
//   display: flex;
//   flex-direction: column;
//   justify-content: left;
//   padding:10px;
//   padding-left: 20px;
// }

// .controls {
//   display: flex;
//   justify-content: space-between;
//   margin-left: 40px;
//   margin-right: 40px;
//   margin-top: 500px;
// }

.consoleOutput {
  font-family: 'Courier New', Courier, monospace;
  padding: 2px;
  color: #40ff00;
  margin: 0;
  display: block;
}
